h1{
    color: #b434ae81;
    background-color: rgb(141, 141, 196);
}
body{
    background-color: rgba(255, 251, 0, 0.281);
}
a{
    background-color: rgba(204, 0, 255, 0.452);
    background-image: url();
}